body {
  font-family: 'Poppins', sans-serif;
}

header {
  background: linear-gradient(90deg, rgba(30,215,96,1) 0%, rgba(29,185,84,1) 50%, rgba(24,173,70,1) 100%);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
}

footer {
  font-size: 0.875rem;
}

